
.DS_Store
./models
./data/external
./resources
/data/external
/models
/dataset
/src/visualization/__pycache__
/src/visualization/__pycache__
/src/data_management/annotations/__pycache__
/src/data/data_management/annotations/__pycache__
/src/data_management/annotations/__pycache__
/resources/padding/emptyNonEmptyDatasetCropped
/resources/masked/emptyNonEmptyDatasetCropped
/resources/mask/emptyNonEmptyDatasetCropped
/resources/fit/emptyNonEmptyDatasetCropped
/resources/bounding_boxes/emptyNonEmptyDatasetCropped
/src/visualization/__pycache__
/src/data_management/annotations/__pycache__
/resources/bounding_boxes/datasetFiltered
/resources/fit/datasetFiltered
/resources/mask/datasetFiltered
/resources/masked/datasetFiltered
/resources/padding/datasetFiltered
/resources/Archivo
/data/raw/datasetFormatted/ave
/data/raw/datasetFormatted/caballo/2_caballo_alumno_2_th
/data/raw/datasetFormatted/caballo
/data/raw/datasetFormatted/cervidae
/data/raw/datasetFormatted/garduna
/data/raw/datasetFormatted/gato_domestico
/data/raw/datasetFormatted/gineta
/data/raw/datasetFormatted/humanovehiculo
/data/raw/datasetFormatted/jabali
/data/raw/datasetFormatted/leporido
/data/raw/datasetFormatted/lince
/data/raw/datasetFormatted/mapache
/data/raw/datasetFormatted/meloncillo
/data/raw/datasetFormatted/micromamiferos
/data/raw/datasetFormatted/perro
/data/raw/datasetFormatted/tejon
/data/raw/datasetFormatted/vaca
/data/raw/datasetFormatted/vacia
/data/raw/datasetFormatted/zorro
/src/data/__pycache__
/src/data/__pycache__
