# Archivos de Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Entornos virtuales
venv/
ENV/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints/

# Configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de caché
.cache/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.pyc
.DS_Store

# Archivos de logs y bases de datos temporales
*.log
*.sqlite
db.sqlite3

# Archivos de configuración personales
*.env
.envrc
.secret
config.json
settings.py

# Modelos y archivos de datos pesados
*.h5
*.ckpt
*.pth
*.pt
*.pb
*.tflite
*.onnx
*.csv
*.tsv
*.json
*.xlsx
*.parquet
*.feather
*.pkl
*.joblib

# Docker
*.dockerfile
*.img

# Archivos de datos
data/
resources/mask
resources/masked_images
/resources/bounding_boxes/0_003
/resources/bounding_boxes/0_05
/resources/bounding_boxes/0_1
/resources/bounding_boxes/0_2
